[user]
	name = ngenisis
	email = ngenisis@gmail.com
[fetch]
	prune = true
[push]
	default = simple
[pull]
	rebase = true
[diff]
	tool = vimdiff3
[difftool]
	path = vim
[merge]
	tool = vimdiff3
[mergetool]
	path = vim
